    /*--------------------------------*/
    /*  TABLES                        */
    /*--------------------------------*/

    .feature-table {
        position:relative;
        margin:0 0 20px 0;
        width:100%;
        border:1px solid #b7b6b6;
        border-collapse:inherit;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        background:#fff;
    }

table.feature-table thead tr {
        position: relative;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
    } 

    .feature-table thead tr th {     
        position:relative;
        margin:0;
        padding: .45em .9em .45em .7em;
        border-bottom: 1px solid #b7b6b6;
        color:#000;
        text-align:left;
        font-weight:100;
        font-size: 1em;
        background: #f0f0f0;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
        background: -moz-linear-gradient(top,  #fff,  #f0f0f0);
        background: -o-linear-gradient(rgb(255,255,255),rgb(240,240,240));
    }

    table.feature-table thead tr th:first-child {border-left: none;}
    table.feature-table thead tr th {border-left:1px solid #b7b6b6;} 

    table.feature-table thead tr th.leftR {
        -webkit-border-radius:5px 0 0 5px;
        -moz-border-radius:5px 0 0 5px;
        border-radius:5px 0 0 5px;
    } 

    table.feature-table thead tr th.rightR {
        -moz-border-radius:0 5px 5px 0;
        -webkit-border-radius:0 5px 5px 0;
        border-radius:0 5px 5px 0;
    } 

    table.feature-table tbody td {
        margin:0;
        padding: .45em .9em;
        border-top:1px solid #dedcdc;
        border-left:1px solid #dedcdc;
        color:#787878;
    }

    table.feature-table tbody tr td:first-child {border-left: none;}
    table.feature-table tbody tr:first-child td {border-top:none;} 
    table.feature-table tbody tr.odd td {background-color: #f7f7f7;} 

    /* --- Table Dark Grey --- */

    table.feature-table.dark-gray thead tr th {
        background: #2f2f2f;
        background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#1b1b1b));
        background: -moz-linear-gradient(top,  #2f2f2f,  #1b1b1b);
        background: -o-linear-gradient(rgb(47,47,47),rgb(27,27,27));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#1b1b1b');
        color: #fff;
        border-left: 1px solid #000;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    table.feature-table.dark-gray thead tr th.rightR { border-right: 1px solid #000;}
    table.feature-table.dark-gray thead tr th.rightL { border-left: 1px solid #000;}

    /* --- Table Light Green --- */

    table.feature-table.light-green thead tr th {
        background: #5d9f01;
        background: -webkit-gradient(linear, left top, left bottom, from(#84b602), to(#5d9f01));
        background: -moz-linear-gradient(top,  #84b602,  #5d9f01);
        background: -o-linear-gradient(rgb(132,182,2),rgb(93,159,1));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84b602', endColorstr='#5d9f01');
        color: #fff;
        border-left: 1px solid #468701;
        border-top: 1px solid #468701;
        border-bottom: 1px solid #468701;
    }

    table.feature-table.light-green thead tr th.rightR { 
        border-right: 1px solid #468701;
    }

    table.feature-table.light-green thead tr th.rightL { 
        border-left: 1px solid #468701;
    }

    /* --- Table Light Orange --- */

    table.feature-table.light-orange thead tr th {
        background: #ff8f07;
        background: -webkit-gradient(linear, left top, left bottom, from(#fabd06), to(#ff8f07));
        background: -moz-linear-gradient(top,  #fabd06,  #ff8f07);
        background: -o-linear-gradient(rgb(250,189,6),rgb(255,143,7));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fabd06', endColorstr='#ff8f07');
        color: #fff;
        border-left: 1px solid #de6e38;
        border-top: 1px solid #de6e38;
        border-bottom: 1px solid #de6e38;
    }

    table.feature-table.light-orange thead tr th.rightR { border-right: 1px solid #de6e38;}
    table.feature-table.light-orange thead tr th.rightL { border-left: 1px solid #de6e38;}
    
    /*--------------------------------*/
    /*  PRICING TABLES                */
    /*--------------------------------*/

    .package {
        position:relative;
        float:left;
        margin-right:20px;
        margin-bottom: 80px;
        width:230px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        background: url(../images/bg-package.png) repeat;
    }

    .package.last {
        clear: right;
        margin-right: 0;
    } 

    .package .head-title {
        height: 53px;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        background: url(../images/bg-teaser.png) repeat 0 -100px #0b0b0b;
        position: relative;
    }

    .package .head-title h3 {   
        color:#fff;
        font-size: 1.75em;
        text-align:center;
        text-transform: uppercase;
        font-family: 'Oswald';
        word-spacing: 3px;
        line-height: 50px;
    } 

    .package .head-title span {color: #f15b19;}

    .package .price {
        height: 105px;
        padding-top: 20px;
        color:#fff;
        text-align:center;
        background: #0b0b0b url(../images/bg-price.png) no-repeat center top;
    } 

    .package .price .cost {position: relative;}

    .package .price .cost:before {
        left: 0;
        bottom: 0;
        content: "$";
        color: #dfdede;
        font-weight: 700;
        font-size: 3.667em;
    }

    .package .price span {
        color: #dfdede;
        font-weight: 700;
        font-size: 7em;
        line-height: 1em;
        text-shadow: 1px 1px 0 #0e0e0e;
    }

    .package .price sup {
        position: relative;
        color: #dfdede;
        font-weight: 700;
        font-size: 3.667em;
        vertical-align: top;
        line-height: 1.3em;
        text-shadow: 1px 1px 0 #0e0e0e;
    } 

    .package .price sup:after {
        position: absolute;
        left: 3px;
        bottom: -35px;
        content: "per/month";
        color: #989898;
        font-weight: 100;
        font-size: .27em;
        text-shadow: none;
    }
    
    .ie8 .package .price sup:after {
        bottom: 0;
        font-size: 1.2em;
    }

    .package .content-price ul {
        margin:0;
        padding: 15px 20px;
    } 

    .package .content-price ul li:first-child {border-top: none;}

    .package .content-price ul li {
        padding: .7em 0 .7em 3.6em;
        border-top: 1px dotted #6c6b6b;
        color: #fff;
    }

    .package .content-price ul li {background: url(../images/icons/small/price-lists.png) no-repeat scroll 8px 8px; }
    .package .content-price ul li.not-include {
        color: #686767;
        background-position: 8px -30px;
    }

    .package .foot-price  {
        clear:both;
        margin-bottom: 5px;
        text-align: center;
    } 

    .package .foot-price .button {
        padding: 0.65em 2.3em;
        border: none;
        -webkit-border-radius: .15em;
        -moz-border-radius: .15em;
        border-radius: .15em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-weight: 100;
        font-size: 1.667em;
    }
    
    /*  Small package */
    
    .small-package {
        position:relative;
        float:left;
        margin-right:10px;
        margin-bottom: 40px;
        width:138px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        background: url(../images/bg-package.png) repeat #101010;
        -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
    }

    .not-ie .small-package:hover {
        z-index: 3;
        margin-top: -1em;
        padding: 1.3em 0 .2em;
        -webkit-box-shadow: 0 -4px 10px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.1);
        -moz-box-shadow: 0 -4px 10px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.1);
        box-shadow: 0 -4px 10px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.1);
        -webkit-transform: scale(1.145);
        -moz-transform: scale(1.18);
        -o-transform:scale(1.18);
    }

    .small-package .head-title {
        position: relative;
        overflow: hidden;
        padding: 8px 0;
        height: 40px;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        background: url(../images/shadow-price.png) repeat;
    }

    .small-package .head-title h3 { 
        padding: 0 10px 0 10px;
        color:#fff;
        text-align:center;
        font-size: 1.167em;
        font-family: 'Oswald';
        text-transform: uppercase;
    } 

    .small-package .head-title span {
        display: block;
        margin-bottom: .2em;
        color: #f15b19;
        font-size: 1.583em;
    }

    .small-package .price { 
        position: relative;
        color:#fff;
        height: 51px;
        padding-top: 17px;
        background: url(../images/shadow-price.png) repeat;
        text-align: center;
        background-position: 0 -56px;
    }

    .small-package .price .cost {position: relative;}

    .small-package .price .cost:before {
        position: relative;
        left: 0;
        bottom: 0;
        content: "$";
        color: #dfdede;
        font-weight: 700;
        font-size: 2.1em;
    }

    .small-package .price span {
        color: #dfdede;
        font-weight: 700;
        font-size: 3.2em;
        text-shadow: 1px 1px 0 #0e0e0e;
        line-height: 1em;
    } 

    .small-package .price sup {
        position: relative;
        color: #dfdede;
        font-weight: 700;
        font-size: 1.6em;
        vertical-align: top;
        line-height: 0;
        text-shadow: 1px 1px 0 #0e0e0e;
        line-height: 1.3em;
    } 
    
    .small-package .price sup:after {
        position: absolute;
        left: 3px;
        bottom: -17px;
        content: "p/m";
        color: #989898;
        font-weight: 100;
        font-size: .6em;
        text-shadow: none;
    }
    
    
    .ie8 .small-package .price sup:after {
        bottom: 0;
        font-size: 1.2em;
    }

    .small-package .content-price {
        background: url(../images/shadow-price.png) repeat 0 -124px;
    }

    .small-package .content-price {
        margin:0;
        padding: 10px 15px 0 15px;
    }

    .small-package .content-price p {font-size: 0.9em;}

    .small-package .foot-price {
        clear:both;
        margin-bottom: 5px;
        text-align: center;
    } 
 
    .small-package .foot-price .button {
        padding: 0.3em 1.9em;
        border: none;
        -webkit-border-radius: .15em;
        -moz-border-radius: .15em;
        border-radius: .15em;
        font-size: 1em;
    }
    