    /*--------------------------------*/
    /*  TABLES                        */
    /*--------------------------------*/

    .feature-table {
        position:relative;
        margin:0 0 20px 0;
        width:100%;
        border:1px solid #b7b6b6;
        border-collapse:inherit;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        background:#fff;
    }

table.feature-table thead tr {
        position: relative;
        -webkit-border-radius:4px;
        -moz-border-radius:4px;
        border-radius:4px;
    } 

    .feature-table thead tr th {     
        position:relative;
        margin:0;
        padding: .45em .9em .45em .7em;
        border-bottom: 1px solid #b7b6b6;
        color:#000;
        text-align:left;
        font-weight:100;
        font-size: 1em;
        background: #f0f0f0;
        background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f0f0f0));
        background: -moz-linear-gradient(top,  #fff,  #f0f0f0);
        background: -o-linear-gradient(rgb(255,255,255),rgb(240,240,240));
    }

    table.feature-table thead tr th:first-child {border-left: none;}
    table.feature-table thead tr th {border-left:1px solid #b7b6b6;} 

    table.feature-table thead tr th.leftR {
        -webkit-border-radius:5px 0 0 5px;
        -moz-border-radius:5px 0 0 5px;
        border-radius:5px 0 0 5px;
    } 

    table.feature-table thead tr th.rightR {
        -moz-border-radius:0 5px 5px 0;
        -webkit-border-radius:0 5px 5px 0;
        border-radius:0 5px 5px 0;
    } 

    table.feature-table tbody td {
        margin:0;
        padding: .45em .9em;
        border-top:1px solid #dedcdc;
        border-left:1px solid #dedcdc;
        color:#787878;
    }

    table.feature-table tbody tr td:first-child {border-left: none;}
    table.feature-table tbody tr:first-child td {border-top:none;} 
    table.feature-table tbody tr.odd td {background-color: #f7f7f7;} 

    /* --- Table Dark Grey --- */

    table.feature-table.dark-gray thead tr th {
        background: #2f2f2f;
        background: -webkit-gradient(linear, left top, left bottom, from(#2f2f2f), to(#1b1b1b));
        background: -moz-linear-gradient(top,  #2f2f2f,  #1b1b1b);
        background: -o-linear-gradient(rgb(47,47,47),rgb(27,27,27));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f2f2f', endColorstr='#1b1b1b');
        color: #fff;
        border-left: 1px solid #000;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
    }

    table.feature-table.dark-gray thead tr th.rightR { border-right: 1px solid #000;}
    table.feature-table.dark-gray thead tr th.rightL { border-left: 1px solid #000;}

    /* --- Table Light Green --- */

    table.feature-table.light-green thead tr th {
        background: #5d9f01;
        background: -webkit-gradient(linear, left top, left bottom, from(#84b602), to(#5d9f01));
        background: -moz-linear-gradient(top,  #84b602,  #5d9f01);
        background: -o-linear-gradient(rgb(132,182,2),rgb(93,159,1));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#84b602', endColorstr='#5d9f01');
        color: #fff;
        border-left: 1px solid #468701;
        border-top: 1px solid #468701;
        border-bottom: 1px solid #468701;
    }

    table.feature-table.light-green thead tr th.rightR { 
        border-right: 1px solid #468701;
    }

    table.feature-table.light-green thead tr th.rightL { 
        border-left: 1px solid #468701;
    }

    /* --- Table Light Orange --- */

    table.feature-table.light-orange thead tr th {
        background: #ff8f07;
        background: -webkit-gradient(linear, left top, left bottom, from(#fabd06), to(#ff8f07));
        background: -moz-linear-gradient(top,  #fabd06,  #ff8f07);
        background: -o-linear-gradient(rgb(250,189,6),rgb(255,143,7));
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fabd06', endColorstr='#ff8f07');
        color: #fff;
        border-left: 1px solid #de6e38;
        border-top: 1px solid #de6e38;
        border-bottom: 1px solid #de6e38;
    }

    table.feature-table.light-orange thead tr th.rightR { border-right: 1px solid #de6e38;}
    table.feature-table.light-orange thead tr th.rightL { border-left: 1px solid #de6e38;}
    
    /*--------------------------------*/
    /*  PRICING TABLES                */
    /*--------------------------------*/

    .package {
        position:relative;
        float:left;
        margin-right:20px;
        margin-bottom: 80px;
        width:230px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        /*background: url(../images/bg-package.png) repeat; */
    }

    .package.last {
        clear: right;
        margin-right: 0;
    } 

    .package .head-title {
        height: 53px;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        background: url(../images/bg-teaser.png) repeat 0 -100px #0b0b0b;
        position: relative;
    }

    .package .head-title h3 {   
        color:#fff;
        font-size: 1.75em;
        text-align:center;
        text-transform: uppercase;
        font-family: 'Oswald';
        word-spacing: 3px;
        line-height: 50px;
    } 

    .package .head-title span {color: #f15b19;}

    .package .price {
        height: 105px;
        padding-top: 20px;
        color:#fff;
        text-align:center;
        background: #0b0b0b url(../images/bg-price.png) no-repeat center top;
    } 

    .package .price .cost {position: relative;}

    .package .price .cost:before {
        left: 0;
        bottom: 0;
        content: "$";
        color: #dfdede;
        font-weight: 700;
        font-size: 3.667em;
    }

    .package .price span {
        color: #dfdede;
        font-weight: 700;
        font-size: 7em;
        line-height: 1em;
        text-shadow: 1px 1px 0 #0e0e0e;
    }

    .package .price sup {
        position: relative;
        color: #dfdede;
        font-weight: 700;
        font-size: 3.667em;
        vertical-align: top;
        line-height: 1.3em;
        text-shadow: 1px 1px 0 #0e0e0e;
    } 

    .package .price sup:after {
        position: absolute;
        left: 3px;
        bottom: -35px;
        content: "per/month";
        color: #989898;
        font-weight: 100;
        font-size: .27em;
        text-shadow: none;
    }
    
    .ie8 .package .price sup:after {
        bottom: 0;
        font-size: 1.2em;
    }

    .package .content-price ul {
        margin:0;
        padding: 15px 20px;
    } 

    .package .content-price ul li:first-child {border-top: none;}

    .package .content-price ul li {
        padding: .7em 0 .7em 3.6em;
        border-top: 1px dotted #6c6b6b;
        color: #fff;
    }

    .package .content-price ul li {background: url(../images/icons/small/price-lists.png) no-repeat scroll 8px 8px; }
    .package .content-price ul li.not-include {
        color: #686767;
        background-position: 8px -30px;
    }

    .package .foot-price  {
        clear:both;
        margin-bottom: 5px;
        text-align: center;
    } 

    .package .foot-price .button {
        padding: 0.65em 2.3em;
        border: none;
        -webkit-border-radius: .15em;
        -moz-border-radius: .15em;
        border-radius: .15em;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        font-weight: 100;
        font-size: 1.667em;
    }
    
    /*  Small package */
    
    .small-package {
        position:relative;
        float:left;
        margin-right:10px;
        margin-bottom: 40px;
        width:138px;
        -webkit-border-radius:6px;
        -moz-border-radius:6px;
        border-radius:6px;
        /* background: url(../images/bg-package.png) repeat #101010;*/
        -webkit-transition: all .25s linear;
        -moz-transition: all .25s linear;
        -o-transition: all .25s linear;
        transition: all .25s linear;
    }

    .not-ie .small-package:hover {
        z-index: 3;
        margin-top: -1em;
        padding: 1.3em 0 .2em;
        -webkit-box-shadow: 0 -4px 10px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.1);
        -moz-box-shadow: 0 -4px 10px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.1);
        box-shadow: 0 -4px 10px rgba(0,0,0,.1), 0 4px 10px rgba(0,0,0,.1);
        -webkit-transform: scale(1.145);
        -moz-transform: scale(1.18);
        -o-transform:scale(1.18);
    }

    .small-package .head-title {
        position: relative;
        overflow: hidden;
        padding: 8px 0;
        height: 40px;
        -webkit-border-radius: 6px 6px 0 0;
        -moz-border-radius: 6px 6px 0 0;
        border-radius: 6px 6px 0 0;
        /* background: url(../images/shadow-price.png) repeat;*/
    }

    .small-package .head-title h3 { 
        padding: 0 10px 0 10px;
        color:#fff;
        text-align:center;
        font-size: 1.167em;
        font-family: 'Oswald';
        text-transform: uppercase;
    } 

    .small-package .head-title span {
        display: block;
        margin-bottom: .2em;
        color: #f15b19;
        font-size: 1.583em;
    }

    .small-package .price { 
        position: relative;
        color:#fff;
        height: 51px;
        padding-top: 17px;
        background: url(../images/shadow-price.png) repeat;
        text-align: center;
        background-position: 0 -56px;
    }

    .small-package .price .cost {position: relative;}

    .small-package .price .cost:before {
        position: relative;
        left: 0;
        bottom: 0;
        content: "$";
        color: #dfdede;
        font-weight: 700;
        font-size: 2.1em;
    }

    .small-package .price span {
        color: #dfdede;
        font-weight: 700;
        font-size: 3.2em;
        text-shadow: 1px 1px 0 #0e0e0e;
        line-height: 1em;
    } 

    .small-package .price sup {
        position: relative;
        color: #dfdede;
        font-weight: 700;
        font-size: 1.6em;
        vertical-align: top;
        line-height: 0;
        text-shadow: 1px 1px 0 #0e0e0e;
        line-height: 1.3em;
    } 
    
    .small-package .price sup:after {
        position: absolute;
        left: 3px;
        bottom: -17px;
        content: "p/m";
        color: #989898;
        font-weight: 100;
        font-size: .6em;
        text-shadow: none;
    }
    
    
    .ie8 .small-package .price sup:after {
        bottom: 0;
        font-size: 1.2em;
    }

    .small-package .content-price {
        background: url(../images/shadow-price.png) repeat 0 -124px;
    }

    .small-package .content-price {
        margin:0;
        padding: 10px 15px 0 15px;
    }

    .small-package .content-price p {font-size: 0.9em;}

    .small-package .foot-price {
        clear:both;
        margin-bottom: 5px;
        text-align: center;
    } 
 
    .small-package .foot-price .button {
        padding: 0.3em 1.9em;
        border: none;
        -webkit-border-radius: .15em;
        -moz-border-radius: .15em;
        border-radius: .15em;
        font-size: 1em;
    }

/* SP Additions */

.three-quarters {
    width: 75%;
    float: left;
}

/*------------- 
  Red
-------------*/

.article-icons .round  {
    color: #BF1C29;
    font-size: 2em;
    font-weight: bold;
}


#sidebar .panel > h2, #main h2 span, #main h3 span {
  color: #BF1C29 !important;
  background: #1a1a1a;
  background: url(/images/content-title-bg.png) #1a1a1a repeat-x left center;
}

.divider--img {
    background: url(/images/content-title-bg.png) #1a1a1a repeat-x left center;
    height: 1em;
    padding: 1em 0;
}

h5.title a:hover {
    color: #5d1d1e !important;
}

#submit1, #submit {
    background: #BF1C29;
    padding: 5px 10px;
    border: none;
    box-shadow: none;
    text-shadow: none;
    color: #fff;
}

#submit:hover, #submit1:hover {
    background: #5d1d1e;
}

.socialize .s-yt {
    background: #5d1d1e;
}

.owl-theme .owl-controls .owl-page span {
    background: #5d1d1e;
}

.private .league-btn:hover {
    background: #5d1d1e;
}

.private {
    color: #7c2c2c;
}

.private .league-btn {
    background: #7c2c2c;
}

#main .promo-content .price {
    font-size: 2em;
    text-align: right;
    font-weight: 600;
    font-family: 'Oswald', sans-serif;
    color: #7c2c2c;
}


.highlight {
    color: #BF1C29;
}

.event-container .countdown {
    font-size: 1.5em;
    font-weight: 600;
    color: #5d1d1e;
}

.league-item .btn:hover {
    /*background: #1a1a1a;
    border-color: #7c2c2c;*/
    background: #277042;
    color: #fff;
}

.game-info-graph > div strong:hover {
    color: #7c2c2c;
}

#submit.submit-btn {
    background: #5d2121 ;
    width: 86%;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 1em;
    font-family: 'Open Sans', sans-serif;
}

#submit.submit-btn:hover {
    background: #7c2c2c;
}


.defbutton .pricetag {
    background: #5d1d1e;
}

.content-padding h3, .content-padding h4 {
    color: #5d1d1e;
}

ul li {
    color: #fff;
}

.white-popup strong {
    color: #5d1d1e !important;
}
/*------------- 
  Green
-------------*/

/* Social Share Green */
.socialize .s-sh {
    background: #2d6e44;
}

.league-btn {
    background: #00a14b;
    width: 59%;
    padding: 5% 12% !important;
    border-radius: .3em !important;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: .9em;
}

.league-btn:hover, .public .league-btn:hover {
    background: #277042;
    color: #fff;
}

.public {
    color: #00a14b;
}

.public .league-btn {
    background: #00a14b;
}

.league-item .btn {
    /*border: 2px solid #FF4D49;*/
    width: 90%;
    color: #fff;
    text-align: center;
    background: #00a14b;
    padding: .5em;
    font-size: .9em;
    clear: both;
    display: block;
    border-radius: .3em;
}

.game-info-buttons .defbutton.green {
    background:#00a14b ;
}
.game-info-buttons .defbutton.green:hover {
    background: #277042;
}

table.feature-table tbody td.bid--placed {
    color: #00A14B;
}

.bid-btn {
    background: #00a14b;
    border: none;
    width: 25%;
    padding: .8em;
    color: #fff;
    text-transform: uppercase;
    margin-top: 1em;
    border-radius: .3em;
}

.white-popup p:first-of-type{
    padding: 1.5em 0;
}

.white-popup p:last-of-type {
    padding: .2em 0 1.5em 0;
}

/*------------- 
  Grey
-------------*/

#sidebar .panel > h2 span, #main h2 span, #main h3 span {
  background: #1a1a1a;
  padding: .5em;
}

#main-box{
    background: #110f10;
}

#sidebar .panel .panel-content, #main-box #sidebar, #main-box.full-width #main, #main-box #main {
  background: #1A1A1A;
}

.league-container {
    background: #222;
    overflow: hidden;
    padding: 1em;
}
.league-left, .league-right, .league-left-inner, .league-right-inner  {
    margin: 0 auto;
    background: #222;
}

.event-container:nth-child(odd) {
    background-color: #222222 ;
}

.event-container:nth-child(even){
    background-color: #1a1a1a;
}

/* Light Grey */
#main p, .contact-address, label {
    color: #9c9c9c;
    font-size: 0.9em;
    line-height: 2em !important;
}

.caption span, h4, .dropspot, h6 {
     color: #9c9c9c;
}

.league-left-inner  {
    width: 49%;
    border-right: 1px solid #9c9c9c;
}

.league-table, .league-btn-container {
    width: 90%;
    margin: 0 auto;
    border-top: 2px solid #9c9c9c;
    border-bottom: 2px solid #9c9c9c;
    padding: 1em 0;
    overflow: visible;
}

.league-left-inner .table-row {
    border-bottom: 1px dotted #9c9c9c;
}

.table-row {
    clear: both;
    border-bottom: 1px dotted #9c9c9c;
    overflow: hidden;
}

.event-container p {
    color: #9c9c9c;
    font-weight: 200;
}

.panel p {
    color: #9c9c9c;
}

.title {
    color: #9c9c9c;
    font-weight: 600;
}

.panel h3 {
   color: #353535 ; 
}

.panel strong, .panel dd, .panel-content h5 {
    color: #929497;
}



/* Tables */

.feature-table, table.feature-table thead tr th {
    border: 0 !important;
}

table.feature-table.dark-gray thead tr th {
    background: #110f10;
    color: #fff;
    text-transform: uppercase;
    border: 0;
}

.feature-table tbody tr:nth-child(odd) {
    background: #222222;
}
.feature-table tbody tr:nth-child(even) {
    background: #110f10;
}
table.feature-table tbody td {
    border-color: #000;
    border-bottom: 0 !important;
    color: #fff;
    text-transform: capitalize;
}

.form--item input[type="file"]::-webkit-file-upload-button,.form--item button, .the-form input[type="file"]::-webkit-file-upload-button, .the-form button  {
   background: #222222;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    padding: 1em .5em;
    width: 60%;
    border: 1px solid #222;
}

#main .the-form form > p {
    font-size: .7em;
}


#main .the-form form > p > label {
    font-size: 1em;
}

.game-info-buttons .defbutton {
    background: #4B4B4B;
    color: #fff;
}
.game-info-buttons .defbutton:hover {
    background: #353535;
}

.white-popup h3, .white-popup label {
    color: #353535;
}

.white-popup input {
    padding: .6em;
    margin-right: 2em;
}

.white-popup label  {
    vertical-align: middle;
}

/*------------- 
  Blue
-------------*/
.main-menu ul li:hover > a span i.fa, .main-menu ul li:hover > a {
  color: #0598c4 !important;
}

.info-btn:hover {
    background: #2d456f;
    color: #fff;
}


/*------------- 
  White
-------------*/
a {
    color: #fff;
}

a:hover {
    color: #BF1C29 !important;
}
#main h2 .pagination-item.current {
    color: #fff !important;
    text-decoration: underline;
    font-size: 16px;
}

h5.title a {
    color: #fff;
}

#search {
    background: #FFF;
    border: none;
    max-height: 5px;
}

.owl-theme .owl-controls .owl-page.active span {
    background: #fff;
}

.league-container .league-left-inner h3 {
    color: #fff;
    text-transform: none;
    font-weight: normal;
    width: 90%;
    margin: 0 auto;
    padding-bottom: 1em;
    font-family: 'Open Sans', sans-serif;
}

.info-btn {
    color: #FFF;
    text-transform: uppercase;
    background: #345182;
    text-align: center;
    border-radius: .3em;
    width: 100%;
    padding: .5em 1.35em;
}

.private .league-btn, .public .league-btn {
    color: #fff;
    padding: 2%;
    border-radius: 0.2em
}

.promo-content {
    position: absolute;
    right: 5%;
    top: 5%;
    background: #fff;
    padding: 1em;
}

.promo-content img {
    height: 217px;
    width: 151px;
}

.one-quarter h3, #main .one-quarter h3 a  {
    color: #fff;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 1em;
}

.selectdropdown {
    background: #fff;
    width: 100%;
    height: 2em;
    border-radius: 0 !important;
}

#main .league-item p {
    color: #fff;
    font-size: .8em;
}

.game-info-left .game-poster {
    border: 4px solid #fff;
}

.game-info-left img.game-poster {
    max-height: 220px !important;
    max-width: 220px !important;
}

.game-info-right .content-padding,.game-info-right .content-padding p{
    color: #fff;
}

#main .the-form textarea, #main input[type=text], #main select, #main input[type=password], #comments, #main .the-form textarea:focus, #main input[type=text]:focus, #main select:focus, #main input[type=password]:focus {
    background: #fff;
    box-shadow: 0; 
    border: 0;
    width: 80%;
}

.dashboard h1, h2 {
    color: #fff;
    font-size: 1em;
    display: inline-block;
    font-weight: 400;
}

.dashboard h2 {
    text-transform: none;
}

.dashboard p {
    padding-bottom: 1em;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 3.5em 2em 3.5em 2em;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
  text-align: center;
  border-radius: .3em;
}

/*--------------
 Black 
--------------*/
#sidebar .panel, #main-box #main {
  border-top: 5px solid #000000 !important;
}

#sidebar .panel {
    padding: 0 0 0 15px;
}

#sidebar .panel.panel-first {
    padding-top: 15px;
}

#sidebar .socialize a {
    margin: 0;
}

#sidebar .social-icon-item:first-of-type {
    margin-left: 0;
}
#sidebar .social-icon-item {
    display: inline-block;
    margin-left: .5em;
}

#slider div#slider-info {
    background: #000;
}

/*---------------------------------
  General Styles - No Colours
----------------------------------*/

body {    
  background: url(../images/page-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#top-layer {
    background: transparent;
}

img {
    max-width: 100%;
}

#main h2.pagination {
    text-align: center !important;
    font-size: 16px;
}

#main h2 .pagination-item:hover {
    text-decoration: underline;
}

h5.title {
    text-align: center;
    text-transform: none;
    font-size: 1em;
    font-weight: normal;
}


.contact-address {
    padding-top: 1em;
}


#main-box #sidebar {
    box-shadow: none ;
    border-left: 1px solid #2B2B2B;
    box-sizing: border-box;
} 

.socialize a {
 border-radius: 50%;
}

.caption {
    padding: 1em;
    text-align: center;
}

.search-container {
    padding: 12px 16px 11px 16px;
}


i, #submit {
    font-family: georgia, FontAwesome;
}

.league-left-inner, .league-right-inner {
    float: left;
}

 .league-left {
    float: left;
    width: 70%;
} 
 .league-right {
    float: right;
    width: 30%;
    text-align: right;
}

.league-right-inner{
    width: 50%;
}

.league-left-inner, .league-left-inner .table-row, .league-left-inner .league-left, .league-left-inner .league-right {
    position: relative;
}

.league-left-inner .league-left, .league-left-inner .league-right {
    z-index: 1;
    margin-top: -1px;
    top: 2px;
}

.league-left-inner .league-left {
    width: auto;
    padding-right: 4px;
}
.league-left-inner .league-right {
    width: 15%;
}

.league-btn-container {
    border: 0;
    overflow: visible;
    clear: both;
}

.league-btn-container .league-left, .league-btn-container .league-right {
    width: 50%;
    padding: 0;
}


.league-right .league-btn {
    float: right;
}

.league-left .league-btn {
     float: left;
}


.league-left-inner .one-third {
    width: 32%;
    padding: 1% 0;
    margin-left: 2%;
    float: left;
}
.league-left-inner .one-third:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.private, .public {
    text-transform: uppercase;
}

.private .league-left, .public .league-left {
    width: 60%;
}

.table-row.public, .table-row.private {
  padding: .3em 1em;
  font-size: .9em;
}

.league-right-inner .table-row:last-of-type {
    border-bottom: 0;
}

.promo-hero {
    position: relative;
    padding-bottom: 1em;
}

.promo-hero img {
    width: 100%;
}

.promo-content h3, #main .promo-content p, .event-container h3 {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

#main .promo-content p {
    text-transform: lowercase;
}

.promo-content h3, .event-container h3 {
    text-transform: capitalize;
    font-weight: 600;
}

.promo-image img {
    max-width: 170px;
}

.promo-left, .promo-right {
    float: left;
    width: 50%;
    padding-top: 1em;
}

.one-quarter {
    width: 23%;
    float: left;
    margin: 0 1%;
    padding-bottom: 1em;
}

.one-third {
    width: 33%;
    float: left;
}
.two-thirds {
    width: 66%;
    float: left;
}

.offset--one-third {
    margin-left: 33%;
}

.event-container .left {
    width: 25%;
    float: left;
}

.event-list {
     margin-top: 1em;
}

.event-container .right {
    width: 70%;
    float: right;
}

.event-container {
    clear: both;
    overflow: hidden;
    padding: 1em;
    background-image: url(../images/arrows.png);
    background-position: right center;
    background-repeat: no-repeat;
    margin-bottom: .5em;
}

.panel-advert {
    padding-bottom: 2em;
    width: 90%;
    margin: 0 auto;
}

.panel-advert:first-of-type {
    padding-top: 2em;
}


.social-icon-item {
    display: inline-block;
    margin-left: 1em;
}

.social-icon-item:first-of-type {
    margin-left: .5em;
}

.social-icon-item:last-of-type {
    margin-right: .5em;
}

.no-slider #slider-imgs .featured-img-box {
    width: 100%;
}

#slider-imgs div.featured-img-box{
    max-width: 1000px;
}

#slider-info .padding-box ul li{
width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a.featured-select, #slider-info .padding-box ul li:before, .home-article.right ul li a:hover {
    background-color: #000000 !important;
}
.one-half {
    width: 50%;
    float: left;
}


.league-item {
    width: 90%;
    margin-bottom: 4px
}
.league-item:nth-child(odd) {
    margin-right: 1em;
}

.league-item img {
    width: 40%;
    float: left;
    margin-right: 5%;
}

.league-info {
    width: 55%;
    float: left;
}


.league-info p {
    float: left;
    width: 60%;
  }

.league-info span {
    width: 40%;
    float: left;

}

.league-info .row {
    clear: both;
    padding-bottom: 0;
}

.league-info .row:last-of-type {
    padding-bottom: 1em;
}

.row {
    padding-bottom: 2em;
    overflow: hidden;
    clear: both;
}


.one-fifth {
    width: 20%;
    float: left;
}

.game-info-right .game-menu {
    border-bottom: 0;
}
.vid-contain {
    width: 90%;
    margin: 0 auto;
}


#main select {
    height: 2em;
    width: 86%;
}
#comments {
    margin-bottom: 0;
}


.panel p:last-of-type {
    padding-bottom: 2em ;
}

#main .the-form {
    margin: 1em 0 0 0;
    width: 100%;
}

#main .league--form label {
    float: left;
    width: 20%;
    font-weight: 600;
    color: #fff;

}

#main .league--form .form--item {
    margin: .5em 0;
    overflow: hidden;
}

#main .league--form textarea, #main .league--form input {
    float: right;
    width: 60% !important;
}

#main .form-footer {
    clear: both;
    text-align: center;
}

#main .btn-small {
    width: 50%;
    margin: 0 auto;
}

.signup-panel > div > h2, .user-profile .profile-right-side h2, .game-info-right h2, .article-footer h2, #main .forum-block > h2, #main > h2 {
    width: 90%;
}

.form--item input[type="file"] {
    color: #fff;
}

table.feature-table tbody td.place--bid {
    width: 25%;
}

.place--bid .league-btn {
    width: 100%;
}

table.feature-table tbody td {
     padding: .45em 0.5em;
}

.strike-wysiwyg-enable {
    height: 100px;
}

.strike-wysiwyg {
    height: 80px;
}


.the-form form > p > label:not(.iiiii) {
    text-align: left;
}
/*-------------------
    Responsive 
 -------------------- */

 /* Small Desktop */

 @media screen and (max-width: 1020px) {
     .social-icon-item:first-of-type, .social-icon-item {
        margin-left:0;
    }
    .socialize a {
    width: 45px;
    height: 45px;
    line-height: 45px;
    font-size: 25px;
    }
 }

/* TABLET */
@media only screen and (max-width: 900px) {
    .search-container {
        text-align: left;
    }

     #sidebar .panel .panel-content {
        border-top: 0;
    }

     .promo-hero img {
        height: 335px;
    }
    .promo-content {
        right: 2%;
        top: 2%;
        padding: .5em;
    }
    .promo-image img {
        height: auto;
    }
     .panel p:last-of-type {
        width: 90%;
        margin: 0 auto;
    }

    .social-icon-item:first-of-type, .social-icon-item {
        margin-left:0;
    }
    .socialize a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 23px;
    }
}

/* PHONE SMALL */
@media only screen and (max-width: 600px) {
    .small--one-whole {
        width: 100%;
    }
    .league-left-inner {
        border-right: 0;
    }
    .league-right-inner {
        border-top: 1px solid #9c9c9c;
        margin-top: 2em;
        padding-top: 1em;
    }
    #main p, .contact-address, label, #main h2 span {
        font-size: 1em;

    }
    .info-btn {
        padding: .5em 3.3em;
    }

    .promo-image img {
        max-width: 150px;
    }

    .small--one-half {
        width: 48%;
        float: left;
        padding-bottom: 1em;
    }

    #sidebar .panel > h2 span {
        font-size: 1.3em;
    }
     .promo-hero img {
        height: 300px;
    }
    .promo-image img {
        height: auto;
    }  
}



/* Phone */

@media only screen and (max-width: 400px) {
    .info-btn {
        padding: .5em 1.35em;
    }
}

